:root{
    --primary: #61DAFB; 
}
*{
    box-sizing: border-box;
}
body{
    font-family: Inter, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 4px grey;
    padding: 30px 25px;
    background-color: #21222A;
    height: 90px;
}
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    font-weight: 700;
    margin-right: auto;
}
.title{
    color: #DEEBF8;
}
.logo{
    height: 30px;
    margin-right: 7px;
}
.main{
    height: 67vh;
    background-image: url(./images/react-logo-lg.png);
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: 115% 65%;
    background-attachment: fixed;
    
}
.main, .footer{
    padding: 20px;
    background-color: #282D35;
    color: white;
}
.main > ul > li {
    margin: 5px;
    padding: 5px;
}
.main > ul > li::marker{
    color: var(--primary);
    font-size: 1.4em;
}